body {
  min-height: 100vh;
  background-image: url(https://media.giphy.com/media/13mwsrXEUtSyZi/giphy.gif);
  background-size: cover;
}

main {
  flex-grow: 2;
}
.btn-style {
  display: flex;
  font-size: 10pt;
  margin-top: 0.5rem;
}
.text {
  color: red;
  text-shadow: 2px 2px yellow;
}
.picture {
  height: 200px;
  width: 200px;
}

.btn {
  background-color: firebrick;
  border: 3px solid black;
}

button:disabled {
  background-color: white;
  border: 3px solid grey;
}
